{% extends 'base.html.twig' %}
{% block title %}SnowTricks - Accueil{% endblock %}
{% block body %}
    <!-- Header -->
    <header id="headerwrap" class="backstretched fullheight">
        <div class="container-fluid fullheight">
            <img width="80%" src="img/intro-logo.png" style="margin-top: 5%">


            <div class="col-lg-12 text-center mb100 mt120" style="color: white">
                <h2 class="section-heading">Un vent de <span class="theme-accent-color">fraicheur</span></h2>
                <hr class="thin-hr">
                <h3 class="section-subheading secondary-font">Nous sommes tres content de vous voir.</h3>

            </div>
    </header>
    <div class="d-flex flex-wrap justify-content-center">
        {%  for trick in tricks %}
            <div class="card col-md-2 " style="margin: 1%" >
                <div class="mt20" style="height: 150px">
                    <img class="card-img-top"
                         {% if trick.images.get(0) is not null%}src="uploads/image/{{ trick.images.get(0).fileName }}"  alt="{{ trick.images.get(0).alt }}"{% else %} src="img/intro-logo.png " alt="Image du trick"{% endif %}  style="max-width: 150px; max-height: 150px">

                </div>
                 <div class="card-body">
                    <h5 class="card-title">{{ trick.title }}</h5>

                </div>

                <div class="card-body">
                    <a href="#" class="card-link"><a href="{{ path('trick_show', {'id': trick.id}) }}" class="btn btn-primary" style="font-size: 10px; padding: 3px">Voir</a></a>

                    <a href="#" class="card-link"><a href="{{ path('trick_edit', {'id': trick.id}) }}" class="btn btn-primary" style="font-size: 10px; padding: 3px">Modifier</a></a>

                </div>
            </div>
        {% endfor %}
    </div>








{% endblock %}
