{% extends 'base.html.twig' %}

{% block title %}Liste des tricks{% endblock %}

{% block body %}
    <h1>Liste des tricks</h1>

    <table class="table">
        <thead>
            <tr>

                <th>Titre</th>
                <th>Description</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for trick in tricks %}
            <tr>

                <td>{{ trick.title }}</td>
                <td>{{ trick.description|length > 50 ? trick.description|slice(0, 50) ~ '...' : trick.description  }}</td>
                <td>{{ trick.createdAt ? trick.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('trick_show', {'id': trick.id}) }}" class="btn btn-success">Voir</a>

                    <a href="{{ path('trick_edit', {'id': trick.id}) }}" class="btn btn-info">Modifier</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun tricks trouvés</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('trick_new') }}">  <button class="btn btn-primary" style="font-size: 14px; padding: 3px; margin-bottom: 2%">Nouveau trick</button>
{% endblock %}
